$--color-primary-sec: #F8493E;

$ft--color: #ff8640;
$bg--color: #ff8640;
$c333: #333;
$c666: #666;
$c999: #999;
$cp: #e0e0e2;
@mixin flex($justify-content: center, $align-items: center, $flex-direction: row) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin overflow-hiding {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

@mixin overflow-hiding-more($line: 2) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-line-clamp: $line; // 最多显示8行
	 /*! autoprefixer: off */
	 -moz-box-orient: vertical;
	 -webkit-box-orient: vertical;
	 /* autoprefixer: on */
}

@mixin font-setting ($lineHeight: 38,$fontSize: 28, $color: #333, $fontWeight: normal) {
	line-height: px2rem($lineHeight);
	font-size: px2rem($fontSize);
	font-weight: $fontWeight;
	color: $color;
}